body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
}

.top {
    background-color: wheat;
    width: 350px;
    padding: 25px 20px;
    text-align: center;
    border-radius: 8px;
}

.brand-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.box {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}

#a {
    width: 300px;
    height: 50px;
    background-color: rgb(234, 190, 110);
    border: none;
    margin-bottom: 20px;
    border-radius: 30px;
    font-weight: bold;
}

#a:hover {
    opacity: 0.5;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(46, 45, 45);
}
